body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F7F7;
}

a {
    text-decoration: none;
    color: seagreen;
}

.container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

h1 {
    /* font-size: 24pt; */
    font-size: clamp(1.5rem, 2.2vw, 4rem); 
    margin: 0;
}

h3 {
    /* font-size: 16pt; */
    font-size: clamp(1.2rem, 1.5vw, 4rem); 
}

p {
    margin: 0;
    line-height: 1.5em;
    font-size: clamp(1rem, 1.2vw, 2rem); 
}

.title {
    font-weight: bolder;
    margin-bottom: 10px;
}

ul li {
    font-weight: bold;
    font-size: clamp(1rem, 1.2vw, 2rem); 
}

ul p {
    margin: 8px 0px 16px 0px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    border-spacing: 0;
    border: 1px solid #d4d4d4;
}

.table th, .table td {
    text-align: left;
    padding: 8px;
}

.table thead {
    background-color: #d4d4d4;
}

tr:nth-child(even) {
    background-color: #ddd;
}

input[type=text] {
    width: 100%;
    height: 24px;
    margin: 12px 0px;
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid grey;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    width: 100%;
    margin: 12px 0px;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid grey;
    font-family: 'Montserrat', sans-serif;
}

button[type=submit] {
    color: white;
    height: 40px;
    margin: 12px 0px;
    padding: 0 16px;
    border-radius: 8px;
    border: 0px solid grey;
    background: burlywood;
    opacity: 1;
    transition: ease-in-out 0.2s;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: ease-in-out 0.2s;
}

@media only screen and (max-width: 600px) {
    input[type=text] {
        width: 90%;
        height: 24px;
        margin: 12px 0px;
        padding: 8px 14px;
        border-radius: 8px;
        border: 1px solid grey;
        font-family: 'Montserrat', sans-serif;
    }

    textarea {
        width: 90%;
        margin: 12px 0px;
        padding: 14px;
        border-radius: 8px;
        border: 1px solid grey;
        font-family: 'Montserrat', sans-serif;
    }
}

.radio-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 14px 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-label:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.radio-label input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.radio-label input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.radio-label .checkmark:after {
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.footer {
    width: 100%;
}

p.footer-text{
    margin: auto;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 40px 0 10px 0;
    font-size: 10pt;
}